
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body{
    height:100%;
    text-align:center;
    font-family: 'Merriweather Sans', sans-serif;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color:#66BFBF;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
}
a{
    color:#11999E;
}
.top-sec{
    background-color:#C8F2EF;
    position:relative;
    padding: 0 2%;
    padding-top: 50px;
    margin-bottom: 10px;
}

.top-sec > h1 {
    margin:50px auto 0 auto;
    line-height:2;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color:#66BFBF;
}
.top-sec > h2{
    font-size: 2.625rem;
    color:#66BFBF;
    font-weight:normal;
}
.top-sec > .cloud-img-1{
    position: absolute;
    right: 330px;
}
.top-sec > .cloud-img-2{
    position: absolute;
}

.top-sec > .mountain-img{
    width:100%;
    max-width: 598px;
}
.skills{
    margin: 70px 0;
}
.skills-row-l{
    width:50%;
    margin: 70px auto;
    text-align:left;
    line-height: 2;
}
.skills-row-r{
    width:50%;
    margin: 70px auto;
    text-align:right;
    line-height: 2;
}
.skills-img{
    width:25%;
    float:left;
    margin-right:36px;
}
.skills-img-2{
    width:25%;
    float:right;
    margin-left:36px;
}
.skills-descriptio-l{
    clear:left;
}
.skills-descriptio-r{
    clear:right;
}



/* media screen */

@media screen and (max-width:1024px){
    .top-sec > .cloud-img-1{
        position: absolute;
        right: 200px;
    }
}

@media screen and (max-width:768px){
    .top-sec > .cloud-img-1{
        position: absolute;
        right: 100px;
    }
}

@media screen and (max-width:425px){
    .top-sec > .cloud-img-1{
        position: absolute;
        right: 20px;
    }
}